*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*header sizing based on musical scale 😀*/
h1 { font-size: 2.0em; }
h2 { font-size: 1.7411em; }
h3 { font-size: 1.5157em; }
h4 { font-size: 1.3195em; }
h5 { font-size: 1.1487em; }
h6 { font-size: 1.0em; }

body {
  font-size: 1.1em;
  line-height: 1.4em;
}